<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zhangzhilai.intentfilterdemo" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MyActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />


            </intent-filter/~~>
        </activity>
        <activity android:name=".IntentDemoActivity">
            <intent-filter>
                <action android:name="com.example.intent.test"/>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        <activity android:name=".SchemeActivity">
            <intent-filter>
                <action android:name="com.example.scheme"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <data android:scheme="scheme_test" android:host="com.example.zhangzhilai.intentfilterdemo" />
            </intent-filter>

        </activity>
    </application>

</manifest>
